body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-contain {
  display: grid;
  grid-template-columns: [full-width-start]5rem [breakout-start]5rem [inner-start] 1fr [inner-end] 5rem[breakout-end] 5rem[full-width-end];
}
.grid-contain > * {
  grid-column: inner;
}
.grid-contain > .breakout {
  grid-column: breakout;
}
.grid-contain > .full-width {
  grid-column: full-width;
}
.full-width{
  padding: 0 10rem;
}
